.home-container {
    text-align: center;
    padding: 50px 20px;
}

.home-image {
    width: 100vw;
    height: auto; 
    border-radius: 0;
    margin: 0; 
    position: relative;
    left: 50%; 
    transform: translateX(-50%); 
    
}

main{
    background-color: rgb(5, 0, 54);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card h2 {
    color: #ff00dd;
    margin-top: 0;
    font-size: 20px;
}

.card p {
    color: #666;
    font-size: 16px;
}

.card button {
    background-color: #005EFF;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.card button:hover {
    background-color: #0056b3;
}

.intro-text {
    max-width: 1000px;
    margin: 40px auto 30px;
    font-size: 18px;
    line-height: 1.6;
    color: #000;
    text-align: center;
}

.intro-text h1 {
    color: #ff00dd; 
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-texts {
    border-radius: 10px;
    width: 100%;
    background-color: #ffffff; 
    padding: 3px;
    margin-bottom: 30px; 
    color: #000; 
}

.card-texts p.destaque {
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.card-texts p.destaque strong {
    color: #1a237e; 
}

.info {
    text-align: center; 
    color: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    max-width: 1000px; 
    margin: 0 auto; 
}

.info h1 {
    font-size: 28px; 
    margin-bottom: 20px;
    color: #fff; 
}

.info p {
    text-align: left;
    font-size: 18px; 
    line-height: 1.6;
}
