html, main {
    background-color: #001f3f;
    font-family: Arial, sans-serif;
    background-image: url('../img/2.png');
    background-size: cover; 
    background-repeat: no-repeat; 
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

h2{
    color: #333333;
    margin-bottom: 20px;
    font-size: 24px; 
}

.logo {
    margin-top: 30px;
    width: 300px; 
    height: auto; 
    margin-bottom: -50px;
}  

.form-group {
    margin-bottom: 30px;
}

.form-control {
    width: 320px;
    padding: 15px;
    margin-top: 5px;
    background-color: #f1f3f6; 
    border: 1px solid #CED4DA;
    border-radius: 10px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    font-weight: 600;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    padding: 10px 120px;
    font-size: 16px;
    border-radius: 30px;
}

.btn-secondary {
    background: linear-gradient(90deg, #007BFF, #0056b3);
    color: #FFFFFF;
    border-radius: 30px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background: linear-gradient(90deg, #0056b3, #003f7f);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

a {
    color: #007BFF; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
    font-weight: bold;
    color: #333333; 
}
