html, body {
    height: 100%; 
    margin: 0; 
    overflow-x: hidden;
}

body {
    background-color: #D7D7D7;
    text-align: center;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column; 
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    padding-top: 20px;
    width: 200px;
}

.navbar {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}

.navbar-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.navbar-right {
    margin-right: 25px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-item:not(:last-child) {
    margin-right: 25px; 
}

.navbar-item.navbar-icon {
    margin-left: 10px;
    margin-right: 10px; 
}

.navbar-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}

.navbar-link_logout {
    color: rgb(0, 60, 255);
    text-decoration: none;
    font-size: 21px;
}

main {
    padding: 20px;
    flex: 1; 
    background-color: #D7D7D7; 
}

.footer {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
}
