{% extends "layout.html" %}

{% block title %}BookSys | Home{% endblock %}

{% block styles %}
<link rel="icon" href="../static/img/logo.png" type="image/png">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="home-container">
    <img src="{{ url_for('static', filename='img/img_home.png') }}" alt="Descrição da imagem" class="home-image">
    <br><br><br>
    <div class="card-container">
        <div class="card">
            <h2 class="titulo-bibli">Biblioteca: {{ library_name }}</h2>
        </div>
        <div class="card">
            <h2>Livros Cadastrados</h2>
            <p><span class="highlight">Total: {{ num_livros }}</span></p>
        </div>
        <div class="card">
            <h2>Livros Emprestados</h2>
            <p><span class="highlight">Total: {{ num_emprestados }}</span></p>
        </div>
        <div class="card">
            <h2>Atrasos</h2>
            <p><span class="highlight">Total: {{ num_atrasos }}</span></p>
        </div>
    </div>
    

    <div class="info">
         <h1>Sobre nós</h1>
         <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No BookSys, oferecemos uma solução inteligente e eficiente para o gerenciamento de bibliotecas, desenvolvida com Python. Simplifique a administração da sua biblioteca e proporcione uma experiência organizada e sem complicações.
         </p>
    </div>

    <div class="intro-text">
        <h1>Controle</h1>
        <div class="card-texts">
            <p class="destaque">Tenha controle total sobre os empréstimos de livros da sua biblioteca. Registre, acompanhe e gerencie facilmente cada empréstimo.</p>
        </div>
        <h1>Organização</h1>
        <div class="card-texts">
            <p class="destaque">Mantenha seu acervo sempre organizado. Cadastre novos livros e edite informações de uma forma fácil.</p>
        </div>
        <h1>Lembretes</h1>
        <div class="card-texts">
            <p class="destaque">Fique de olho nos empréstimos atrasados. Receba alertas internos e garanta a devolução pontual dos livros.</p>
        </div>
    </div>
    
<br><br>
    <div class="card-container">
        <div class="card">
            <h2>Nossos Serviços</h2>
            <p>Descubra a variedade de serviços que oferecemos.</p>
            <button>Saiba Mais</button>
        </div>
        <div class="card">
            <h2>Sobre Nós</h2>
            <p>Conheça mais sobre a nossa missão, visão e valores.</p>
            <button>Leia Mais</button>
        </div>
        <div class="card">
            <h2>Contato</h2>
            <p>Entre em contato conosco para mais informações e suporte.</p>
            <button>Contate-nos</button>
        </div>
    </div>
</div>

<!-- <script src="{{ url_for('static', filename='JS/script_home.js') }}"></script> -->
{% endblock %}
{% block show_footer %}true{% endblock %}