{% extends "layout.html" %}

{% block title %}BookSys | Home{% endblock %}

{% block styles %}
<link rel="icon" href="../static/img/logo.png" type="image/png">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="home-container">
    <img src="{{ url_for('static', filename='img/home-image.jpg') }}" alt="Descrição da imagem" class="home-image">
    <!-- <h1>Bem-vindo(a) ao BookSys</h1> -->
    <div class="intro-text">
        <p>Tenha controle total sobre os empréstimos de livros da sua biblioteca. Registre, acompanhe e gerencie facilmente cada empréstimo.</p>
        <p>Mantenha seu acervo sempre organizado. Cadastre novos livros e edite informações de uma forma fácil.</p>
        <p>Fique de olho nos empréstimos atrasados. Receba alertas internos e garanta a devolução pontual dos livros.</p>
    </div>
    <div class="card-container">
        <div class="card">
            <h2>Nossos Serviços</h2>
            <p>Descubra a variedade de serviços que oferecemos.</p>
            <button>Saiba Mais</button>
        </div>
        <div class="card">
            <h2>Sobre Nós</h2>
            <p>Conheça mais sobre a nossa missão, visão e valores.</p>
            <button>Leia Mais</button>
        </div>
        <div class="card">
            <h2>Contato</h2>
            <p>Entre em contato conosco para mais informações e suporte.</p>
            <button>Contate-nos</button>
        </div>
    </div>
</div>
{% endblock %}
{% block show_footer %}true{% endblock %}
