<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Lista de Usuários</title>
    </head>
    <body>
        <!-- <a href="/cadastro">Cadastrar Novo Cliente</a>
        {% for cliente in content %} -->
        {% if 'id' in session %}
            <a href="/cadastro">Cadastrar Novo Cliente</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
            <form action="/" method="post">
                <input type="text" name="nome" placeholder="Novo Nome..." />
                <input type="email" name="email" placeholder="Novo E-mail..." />
                <input type="hidden" name="id" value="{{ cliente[0] }}" />
                <input type="submit" name="acao" value="Atualizar" />
            </form>
            <section class="testes">
                <!-- noma da variavel é cliente e o content ta sendo passado no py onde ta em results -->
                <p>Nome: {{ cliente[1] }}</p>
                <p>E-mail: {{ cliente[2] }}</p>
                <a href="/deletar?id={{ cliente[0] }}">Deletar</a>
                <hr>
            </section>
        {% endfor %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <!-- {% for value in content %}
            <p>Valor: {{value}}</p>
        {% endfor %} -->
    </body>
</html>