<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BookSys{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> <!-- CSS comum -->
    {% block styles %}
    <!-- Folhas de estilo específicas serão inseridas aqui -->
    {% endblock %}
</head>
<body>
    {% if show_navbar %}
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('home') }}" class="navbar-logo">
                
                <img class="logo" src="{{ url_for('static', filename='img/BookSys.png') }}" alt="Logo">
            </a>
            <ul class="navbar-menu">
                <li class="navbar-item"><a href="{{ url_for('home') }}" class="navbar-link">Home</a></li>
                <li class="navbar-item"><a href="{{ url_for('livros') }}" class="navbar-link">Livros</a></li>
                <li class="navbar-item"><a href="{{ url_for('emprestimos') }}" class="navbar-link">Emprestimos</a></li>
                <!-- <li class="navbar-item"><a href="{{ url_for('emprestimos') }}" class="navbar-link">Emprestimos</a></li> -->
                {% if 'id' in session %}
                    <li class="navbar-item"><a href="{{ url_for('logout') }}" class="navbar-link">Logout</a></li>
                {% else %}
                    <li class="navbar-item"><a href="{{ url_for('login') }}" class="navbar-link">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endif %}
    
    <main>
        {% block content %}
        <!-- Conteúdo da página será inserido aqui -->
        {% endblock %}
    </main>
</body>
</html>
