{% extends "layout.html" %}

{% block styles %}
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_livros.css') }}">
{% endblock %}

{% block title %}BookSys | Livros{% endblock %}

{% block content %}
<body>
    <div class="header-container">
        <button class="btn-cadastro" onclick="openCadastroModal()">Cadastrar Livro</button>
        <div class="header-text">
            <h1>Livros</h1>
            <p>Aqui você pode visualizar informações, editar, cadastrar e deletar seus livros.</p>
            <form action="/livros" method="get" class="search-form">
                <input class="form-control" type="text" name="search" placeholder="Buscar por livro">
                <input class="btn-search" type="submit" value="Buscar">
            </form> 
        </div>
    </div>

    {% if mensagem %}
    <div class="alert alert-warning" role="alert">
        {{ mensagem }}
    </div>
    {% endif %}
    
    <div class="card-container">
        {% for livro in livros %}
        <div class="card">
            <div class="card-header">
                <h2 style="text-align: left;"><strong>Livro: </strong>{{ livro['titulo'] }}</h2>
    
                <div class="card-button">
                    <button style="border: none;" onclick="openEditModal('{{ livro['id'] }}', '{{ livro['titulo'] }}', '{{ livro['isbn'] }}', '{{ livro['autor'] }}', '{{ livro['genero'] }}', '{{ livro['descricao'] }}')">Editar</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div id="cadastroModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeCadastroModal()">&times;</span>
            <h1>Cadastro de Livro</h1>
            <form id="cadastroForm" action="/livros" method="post">
                <label for="titulo">Título do livro:</label>
                <input type="text" id="titulo" name="titulo" required><br><br>
                
                <label for="isbn">ISBN (Sem traços):</label>
                <input type="text" id="isbn" name="isbn" required><br><br>
                
                <label for="autor">Autor:</label>
                <input type="text" id="autor" name="autor" required><br><br>
                
                <label for="genero">Gênero:</label>
                <select id="genero" name="genero" required>
                    <option value="">Selecione</option>
                    <option value="Ficção">Ficção</option>
                    <option value="Não-Ficção">Não-Ficção</option>
                    <option value="Romance">Romance</option>
                    <option value="Mistério">Mistério</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Fantasia">Fantasia</option>
                    <option value="Ciência Ficcional">Ciência Ficcional</option>
                    <option value="Biografia">Biografia</option>
                    <option value="História">História</option>
                    <option value="Poesia">Poesia</option>
                    <option value="Drama">Drama</option>
                    <option value="Horror">Horror</option>
                    <option value="Suspense">Suspense</option>
                    <option value="Autoajuda">Autoajuda</option>
                    <option value="Clássico">Clássico</option>
                    <option value="Juvenil">Juvenil</option>
                    <option value="Humor">Humor</option>
                    <option value="Ficção Histórica">Ficção Histórica</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Distopia">Distopia</option>
                    <option value="Realismo Mágico">Realismo Mágico</option>
                </select><br><br>
                
                
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" required></textarea><br><br>
                
                <input type="hidden" id="id_livro" name="id_livro">
                <input type="submit" class="botao-verde" value="Cadastrar Livro">
            </form>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <h1>Editar Livro</h1>
            <form id="editForm" action="/livros" method="post">
                <label for="edit-titulo">Título do livro:</label>
                <input type="text" id="edit-titulo" name="titulo" required><br><br>
                
                <label for="edit-isbn">ISBN(Sem traços):</label>
                <input type="text" id="edit-isbn" name="isbn" required><br><br>
                
                <label for="edit-autor">Autor:</label>
                <input type="text" id="edit-autor" name="autor" required><br><br>
                
                <label for="edit-genero">Gênero:</label>
                <select id="edit-genero" name="genero" required>
                    <option value="">Selecione</option>
                    <option value="Ficção">Ficção</option>
                    <option value="Não-Ficção">Não-Ficção</option>
                    <option value="Romance">Romance</option>
                    <option value="Mistério">Mistério</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Fantasia">Fantasia</option>
                    <option value="Ciência Ficcional">Ciência Ficcional</option>
                    <option value="Biografia">Biografia</option>
                    <option value="História">História</option>
                    <option value="Poesia">Poesia</option>
                    <option value="Drama">Drama</option>
                    <option value="Horror">Horror</option>
                    <option value="Suspense">Suspense</option>
                    <option value="Autoajuda">Autoajuda</option>
                    <option value="Clássico">Clássico</option>
                    <option value="Juvenil">Juvenil</option>
                    <option value="Humor">Humor</option>
                    <option value="Ficção Histórica">Ficção Histórica</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Distopia">Distopia</option>
                    <option value="Realismo Mágico">Realismo Mágico</option>
                </select><br><br>
                
                <label for="edit-descricao">Descrição:</label>
                <textarea id="edit-descricao" name="descricao" required></textarea><br><br>
                
                <input type="hidden" id="edit-id_livro" name="id_livro">
                <input class="botao-verde" type="submit" value="Atualizar">
                <button class="botao-vermelho" type="button" id="deleteButton" style="display:none" onclick="deleteLivro()">Apagar Livro</button>
            </form> 
        </div>
    </div>

    <script src="{{ url_for('static', filename='JS/script_livros.js') }}"></script>
</body>
{% endblock %}