{% extends "layout.html" %}

{% block title %}BookSys | Perfil{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
{% endblock %}

{% block content %}
<div class="perfil-container">
    <h1>Perfil</h1>
    <div class="profile-info">
        <h2>Informações da Conta</h2>
        <p><strong>Nome:</strong> {{ nome }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Nome da Biblioteca:</strong> {{ nome_biblioteca }}</p>
    </div>
    <div class="profile-actions">
        <h2>Atualizar Informações</h2>
        <form action="{{ url_for('atualizar_perfil') }}" method="post" class="update-form">
            <label for="novo_nome">Novo Nome:</label>
            <input type="text" id="novo_nome" name="novo_nome" value="{{ nome }}">
            <label for="novo_email">Novo Email:</label>
            <input type="email" id="novo_email" name="novo_email" value="{{ email }}">
            <label for="nova_senha">Nova Senha:</label>
            <input type="password" id="nova_senha" name="nova_senha">
            <label for="novo_nome_biblioteca">Novo Nome da Biblioteca:</label>
            <input type="text" id="novo_nome_biblioteca" name="novo_nome_biblioteca" value="{{ nome_biblioteca }}">
            <div class="form-buttons">
                <button type="submit">Atualizar</button>
                <form action="{{ url_for('apagar_conta') }}" method="post" class="delete-form">
                    <button type="submit" class="delete-button">Apagar Conta</button>
                </form>
            </div>
        </form>
    </div>
</div>
{% endblock %}
